<header>
  <nav>
    <div class="container-fluid h-100">
      <div class="row h-100 align-items-center m-0">
        <div class="col l12">
          <div class="section-name">
            <h3>Apply Leave</h3>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<aside>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="logo"><img src="../../../assets/img/logo.png" alt="" /></div>
    </li>
    <li>
      <div class="user">
        <div class="user-img">
          <img src="../../../assets/img/user.jpg" alt="" />
        </div>
        <div class="user-details">
          <h4>John Doe</h4>
          <p>Senior HR</p>
        </div>
      </div>
    </li>
    <li class="menu">
      <a href="#!">leave</a>
      <a href="#!">leave</a>
    </li>
  </ul>
</aside>
<main>
  <section class="my-leave mt-5 pt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col l12">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header">
                <p>Search <small>(Please specify your search)</small></p>
              </div>
              <div class="collapsible-body">
                <div class="form-box form-row">
                  <div class="input-field col s6">
                    <input type="text" class="datepicker" />
                    <label>From Date*</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" class="datepicker" />
                    <label>To Date*</label>
                  </div>
                  <div class="col l12">
                    <p>Show Leave With status</p>
                  </div>
                  <div class="input-field col l2">
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>All</span>
                    </label>
                  </div>
                  <div class="input-field col l2">
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Canceled</span>
                    </label>
                  </div>
                  <div class="input-field col l3">
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Pending Approval</span>
                    </label>
                  </div>
                  <div class="input-field col l2">
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Scheduled</span>
                    </label>
                  </div>
                  <div class="input-field col l1">
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Taken</span>
                    </label>
                  </div>
                  <div class="input-field col l2">
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Rejected</span>
                    </label>
                  </div>
                  <div class="col s12">
                    <div class="group-btn mt-4 d-flex justify-content-end">
                      <button class="yo-btn">reset</button>
                      <button class="yo-btn secondary">search</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col l12">
          <div class="table-box">
            <div class="table-head text-right">
              <button class="yo-btn">Save</button>
            </div>
            <div class="table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Employee</th>
                    <th>Date</th>
                    <th>Leave Type</th>
                    <th>Leave balance (days)</th>
                    <th>Number of (days)</th>
                    <th>status</th>
                    <th>Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Jacqueline white</th>
                    <td>Wed, 08 Jan 2020</td>
                    <td>Vacation Leave - US</td>
                    <td>0.00</td>
                    <td>1.00</td>
                    <td>Pending Approval(1.00)</td>
                    <td>
                      <div class="selection">
                        <div class="input-field">
                          <select>
                            <option value="" disabled selected>select action</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex table-btns">
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Nominees">
                          <i class="material-icons">people_outline</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Details">
                          <i class="material-icons">info_outline</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Comments">
                          <i class="material-icons">comment</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="left" data-tooltip="Download">
                          <i class="material-icons">get_app</i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Jacqueline white</th>
                    <td>Wed, 08 Jan 2020</td>
                    <td>Vacation Leave - US</td>
                    <td>0.00</td>
                    <td>1.00</td>
                    <td>Pending Approval(1.00)</td>
                    <td>
                      <div class="input-field">
                        <select>
                          <option value="" disabled selected>select action</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                      </div>
                    </td>
                    <td class="d-flex">
                      <div class="d-flex table-btns">
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Nominees">
                          <i class="material-icons">people_outline</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Details">
                          <i class="material-icons">info_outline</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="left" data-tooltip="Comments">
                          <i class="material-icons">comment</i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Jacqueline white</th>
                    <td>Wed, 08 Jan 2020</td>
                    <td>Vacation Leave - US</td>
                    <td>0.00</td>
                    <td>1.00</td>
                    <td>Pending Approval(1.00)</td>
                    <td>
                      <div class="input-field">
                        <select>
                          <option value="" disabled selected>select action</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                      </div>
                    </td>
                    <td class="d-flex">
                      <div class="d-flex table-btns">
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Nominees">
                          <i class="material-icons">people_outline</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Details">
                          <i class="material-icons">info_outline</i>
                        </a>
                        <a href="#" class="tooltipped" data-position="left" data-tooltip="Comments">
                          <i class="material-icons">comment</i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <p class="m-0">
          Copyright &#169; <strong>Yo<span>tech</span></strong><sup>TM</sup> all rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
