.my-leave {
  .collapsible {
    .collapsible-header {
      p {
        margin: 0;
      }
    }

    .collapsible-body {
      height: 255px;
      padding: 0 20px;

      .input-field {
        margin-bottom: 10px;
      }
    }
  }

  .table-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

    .table-head {
      padding: 20px 10px;
    }

    .table-responsive {

      tr {
        th {
          font-size: 14px;
          color: #666;
          text-transform: capitalize;
        }

        td {
          font-size: 14px;
          color: #666;

          .input-field {
            margin: 0;

            .select-wrapper {
              .select-dropdown {
                color: #666;
              }
            }
          }

          a {
            color: #666;
            margin: 0 5px;
          }
        }
      }
    }
  }
}
