<header>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <div class="logo">
          <img src="../../../assets/img/logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
<section class="login">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col l5 offset-l7">
        <div class="login-box">
          <div class="login-header">
            <h3 class="display-4">Welcome Back</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
              culpa?
            </p>
          </div>
          <div class="login-content">
            <div class="single-input">
              <div class="input-field">
                <i class="material-icons prefix">person_outline</i>
                <input id="icon_prefix" type="text" class="validate" />
                <label for="icon_prefix">Username</label>
              </div>
            </div>
            <div class="single-input">
              <div class="input-field">
                <i class="material-icons prefix">lock_outline</i>
                <input id="icon_prefix2" type="password" class="validate" />
                <label for="icon_prefix2">Password</label>
              </div>
            </div>
            <div class="login-remember d-flex justify-content-between">
              <label>
                <input type="checkbox" class="filled-in" />
                <span>Remember password</span>
              </label>
              <a href="#!">forgot password?</a>
            </div>
            <div class="login-btn d-flex">
              <button routerLink="/leave" class="yo-btn">Login now</button>
              <button class="yo-btn secondary">Create Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <p class="m-0">
          Copyright &#169; <strong>Yo<span>tech</span></strong
          ><sup>TM</sup> all rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
