$purple: #652783;
$orange: #f08c2e;

header {
  padding: 20px 0;

  .logo {
    img {
      width: 100px;
    }
  }
}

body {
  background-color: #ddd;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../../assets/img/background.jpg");
    background-position: center;
    background-size: contain;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    left: 7%;
    z-index: -1;
  }

  .login-box {
    .login-header {
      h3 {
        font-size: 38px;
      }

      p {
        font-size: 14px;
        color: #666;
        font-weight: 500;
      }
    }

    .login-content {
      border-radius: 10px;
      overflow: hidden;
      background-color: #f5f5f5;
      padding: 10px 15px;

      .single-input {
        position: relative;

        .input-field {
          i {
            color: #666;
          }

          label {
            content: #666;
          }

          .active {
            color: $purple;
          }
        }
      }

      .login-remember {
        margin-bottom: 15px;

        .custom-control {
          label {
            font-size: 14px;
            color: #666;
          }
        }

        a {
          font-size: 14px;
          color: #666;
          text-transform: capitalize;
        }
      }
    }
  }
}

footer {
  text-align: center;

  p {
    text-transform: capitalize;
    color: #222;

    sup {
      font-size: 11px;
    }

    strong {
      color: $orange;
      text-transform: uppercase;

      span {
        color: $purple;
      }
    }
  }
}

/* label color */

/* label focus color */
.input-field input[type="text"]:focus+label {
  color: $purple;
}

.input-field input[type="password"]:focus+label {
  color: $purple;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid $purple;
  box-shadow: 0 1px 0 0 $purple;
}

.input-field input[type="password"]:focus {
  border-bottom: 1px solid $purple;
  box-shadow: 0 1px 0 0 $purple;
}

/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid $purple;
  box-shadow: 0 1px 0 0 $purple;
}

.input-field input[type="password"].valid {
  border-bottom: 1px solid $purple;
  box-shadow: 0 1px 0 0 $purple;
}

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid $purple;
  box-shadow: 0 1px 0 0 $purple;
}

.input-field input[type="password"].invalid {
  border-bottom: 1px solid $purple;
  box-shadow: 0 1px 0 0 $purple;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: $purple;
}
