:root {
  --color-orange: #f08c2e;
  --color-purple: #652783;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: var(--color-orange);
  background-color: var(--color-orange);
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: #f08c2e79;
  border-color: #f08c2e79;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--color-orange);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--color-orange);
  box-shadow: 0 1px 0 0 var(--color-orange);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: var(--color-orange);
}

.dropdown-content li>a,
.dropdown-content li>span {
  font-size: 16px;
  color: var(--color-orange);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.datepicker-date-display {
  flex: 1 auto;
  background-color: var(--color-purple);
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}
