/* You can add global styles to this file, and also import other style files */

$purple: #652783;
$orange: #f08c2e;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  margin-top: 60px;
}

header,
main,
footer {
  padding-left: 225px;
}

// Short CSS
.m-0 {
  margin: 0;
}

.mt-4 {
  margin-top: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;

  nav {
    background-color: $purple;

    .section-name {
      h3 {
        font-size: 20px;
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}

.sidenav {
  text-align: center;
  width: 225px;

  li {
    .user {
      .user-img {
        img {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.logo {
  img {
    width: 150px;
    object-fit: cover;
    object-position: center;
  }
}

.yo-btn {
  border-style: none;
  background-color: #652783;
  padding: 0 25px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    background-color: #8a42ad;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.3s;
  }

  &:hover {
    &::before {
      left: 0;
    }
  }
}

.secondary {
  margin: 0 15px;
  background-color: transparent;
  border: 1px solid #8a42ad;
  color: #333;
  transition: 0.3s;

  &:hover {
    color: #fff;
  }
}

footer {
  text-align: center;

  p {
    text-transform: capitalize;
    color: #222;
    text-transform: uppercase;

    strong {
      color: $orange;

      span {
        color: $purple;
      }
    }
  }
}

label {
  text-transform: capitalize;
  z-index: 333;

  &:before {
    top: 0.16rem;
  }
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $orange;
  background-color: $orange;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: #f08c2e79;
  border-color: #f08c2e79;
}

.select-wrapper input.select-dropdown {
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  margin: 0;
  text-transform: capitalize;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid $orange;
  font-size: 14px;
  text-transform: capitalize;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $orange;
  box-shadow: 0 1px 0 0 $orange;
}

input:not([type]):focus:not([readonly])+label,
input[type="text"]:not(.browser-default):focus:not([readonly])+label,
input[type="password"]:not(.browser-default):focus:not([readonly])+label,
input[type="email"]:not(.browser-default):focus:not([readonly])+label,
input[type="url"]:not(.browser-default):focus:not([readonly])+label,
input[type="time"]:not(.browser-default):focus:not([readonly])+label,
input[type="date"]:not(.browser-default):focus:not([readonly])+label,
input[type="datetime"]:not(.browser-default):focus:not([readonly])+label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label,
input[type="tel"]:not(.browser-default):focus:not([readonly])+label,
input[type="number"]:not(.browser-default):focus:not([readonly])+label,
input[type="search"]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: $orange;
}

.dropdown-content li>a,
.dropdown-content li>span {
  font-size: 16px;
  color: $orange;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.datepicker-date-display {
  flex: 1 auto;
  background-color: $purple;
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}

.datepicker-table td.is-today {
  color: $purple;
}

.datepicker-table td.is-selected {
  background-color: $purple;
  color: #fff;
}

.btn,
.btn-large,
.btn-small {
  background-color: $purple;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: $purple;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: $purple;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid $orange;
  background-color: $orange;
}

button:focus {
  background-color: $purple;
  color: #fff;
}

.datepicker-modal {
  height: auto;
}
