$purple: #652783;
$orange: #f08c2e;



.leave-form {
  .form-box {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;

    .form-header {
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;

      h5 {
        font-weight: 500;
        font-size: 16px;
      }
    }

    .required {
      color: #999;
      font-size: 13px;
      font-weight: 500;
    }
  }
}
