<header>
  <nav>
    <div class="container h-100">
      <div class="row h-100 align-items-center m-0">
        <div class="col l12">
          <div class="section-name">
            <h3>Apply Leave</h3>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<aside>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="logo"><img src="../../../assets/img/logo.png" alt="" /></div>
    </li>
    <li>
      <div class="user">
        <div class="user-img">
          <img src="../../../assets/img/user.jpg" alt="" />
        </div>
        <div class="user-details">
          <h4>John Doe</h4>
          <p>Senior HR</p>
        </div>
      </div>
    </li>
    <li class="menu">
      <a href="#!">leave</a>
      <a href="#!">leave</a>
    </li>
  </ul>
</aside>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<main>
  <section class="leave-form">
    <div class="container">
      <div class="row">
        <div class="col l12">
          <div class="form-box">
            <div class="form-header">
              <h5>Apply Leave</h5>
            </div>
            <div class="input-field col s6 pull-s6 offset-s6">
              <select>
                <option value="" disabled selected>--select--</option>
                <option value="family">family program</option>
                <option value="medical">Medical Emergency</option>
                <option value="exam">University Exam</option>
              </select>
              <label>Leave Type*</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="datepicker" />
              <label>Leave From*</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="datepicker" />
              <label>Leave To*</label>
            </div>
            <div class="input-field col s12">
              <input type="number" />
              <label>Days</label>
            </div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Reason for leave*</label>
            </div>
            <div class="col s12">
              <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Upload File</span>
                    <input type="file" multiple />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files" />
                  </div>
                </div>
              </form>
            </div>
            <div class="input-field col l6">
              <p class="required">Required Field*</p>
            </div>
            <div class="input-field col l6 text-right">
              <button class="btn yo-btn">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <p class="m-0">
          Copyright &#169; <strong>Yo<span>tech</span></strong><sup>TM</sup> all rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
